:root {
  --main-bg-color: #30132a;
  --nav-bg-color: #c70039;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: var(--main-bg-color);
}

body {
  background-color: var(--main-bg-color);
  color: white;
  font-family: "Segoe UI";
  overflow: hidden;
}

.container {
  max-width: 100vw;
  padding: 3.5em 5em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--nav-bg-color);
  height: 100vh;
  width: 45vh;
  font-size: 3.2rem;
}

.nav-list ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 1em;
  top: 4em;
  z-index: 10;
}

.toggle-nav,
.toggle-form {
  display: block !important;
}

.ham {
  width: 35px;
}

.back-arrow {
  width: 50px;
  position: absolute;
  top: 1em;
  left: 1em;
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 450px;
  background-color: rgba(255, 255, 255, 22%);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 8px 10px;
}

.card p {
  width: 70%;
  font-size: 30px;
  font-weight: 500;
}

.url-img {
  width: 25px;
}

.options-img {
  width: 5px;
}

.page-name {
  position: absolute;
  bottom: -6.5em;
  right: 0;
}

.page-name h1 {
  font-size: 500px;
  opacity: 8%;
  user-select: none;
  z-index: -1;
  display: none;
}

.wrapper {
  padding: 0 10em;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  justify-content: center;
  gap: 13em;
}

.grid-header {
  font-size: 38px;
  padding-bottom: 20px;
}

.text-red {
  color: #df7a7a;
}

.add-btn {
  position: absolute;
  bottom: 1.5em;
  width: 4em;
  z-index: 10;
}

.close-btn {
  width: 3em;
  position: absolute;
  top: 10px;
  right: 10px;
}

.add-form {
  display: none;
  width: 800px;
  background-color: white;
  padding: 30px 30px;
  border-radius: 20px;
  z-index: 10;
  position: absolute;
  top: 30%;
  right: 30%;
}

.add-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-form label {
  color: black;
  font-size: 1.6em;
  font-weight: 700;
  margin-bottom: 15px;
}

.add-form input[type="text"] {
  width: 60%;
  border: 0.5px solid #707070;
  border-radius: 0.5em;
  padding: 10px 15px;
  margin-bottom: 20px;
  font-size: 18px;
}

.completed-div {
  width: 170px;
}

.add-form input[type="checkbox"] {
  margin-bottom: 15px;
  margin-left: 10px;
  height: 20px;
  width: 20px;
}

.add-form-btn,
.delete-form-btn {
  padding: 8px 30px;
  margin-right: 20px;
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

.add-form-btn {
  background-color: #2196f3;
}

.delete-form-btn {
  background-color: var(--nav-bg-color);
}

.filter-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.5em;
}

.filter-media input {
  width: 33%;
  border-radius: 10px;
  padding: 1.2em 1.5em;
  border: none;
  outline: none;
  font-size: 1.3em;
}

.alert-danger {
  background: red;
  color: #fff;
}

.alert-success {
  background: green;
  color: #fff;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  width: 200px;
}
